body {
  background-image: url(../image/main-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #effffd;
  height: 100%;
  width: 100%;
  font-family: "HBIOS-SYS";
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-intro {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  left: 95%;
  top: 5%;
  font-size: 30px;
  font-family: "DeogonPrincess";
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20vh;
  background-color: rgba(229, 226, 216, 0.324);
  border-radius: 7%;
  padding: 20px 80px;
}

.main-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

hr.title {
  width: 200px;
  height: 3px;
  background-color: black;
}

.main-list {
  padding: 0;
}

.main-list-box li {
  list-style: none;
  font-size: 35px;
  padding: 3px 0px;
}

.main-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.main-icon {
  margin-right: 10px;
}
