@media (max-width: 700px) {
  .about_me-exp-content {
    font-size: 15px;
  }
  .about_me-exp-date span {
    font-size: 16px;
  }
  .project-title {
    font-size: 20px;
  }
  .project-descripton > ul {
    font-size: 17px;
  }
  .main {
    flex-direction: column;
  }
  .main-intro {
    position: initial;
    width: fit-content;
    writing-mode: initial;
    text-orientation: initial;
    transform: translateY(40px);
    font-size: 25px;
    font-family: "DeogonPrincess";
  }
}
